.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage

.env
.env.local
.env.*.local

**/*.tsbuildinfo

.p4nexus
p4nexus-web/playwright-report
p4nexus-web/test-results
